<div>
  <h2 id="page-heading" data-cy="DiscussionHeading">
    <span jhiTranslate="lmsOnCloudApp.discussion.home.title">Discussions</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
        <span jhiTranslate="lmsOnCloudApp.discussion.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-discussion"
        [routerLink]="['/discussion/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="lmsOnCloudApp.discussion.home.createLabel">Create a new Discussion</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  @if (discussions?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="lmsOnCloudApp.discussion.home.notFound">No Discussions found</span>
    </div>
  }

  @if (discussions && discussions.length > 0) {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [sortState]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="topic">
              <div class="d-flex">
                <span jhiTranslate="lmsOnCloudApp.discussion.topic">Topic</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="details">
              <div class="d-flex">
                <span jhiTranslate="lmsOnCloudApp.discussion.details">Details</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="createdBy">
              <div class="d-flex">
                <span jhiTranslate="lmsOnCloudApp.discussion.createdBy">Created By</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="createdDate">
              <div class="d-flex">
                <span jhiTranslate="lmsOnCloudApp.discussion.createdDate">Created Date</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="lastModifiedBy">
              <div class="d-flex">
                <span jhiTranslate="lmsOnCloudApp.discussion.lastModifiedBy">Last Modified By</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="lastModifiedDate">
              <div class="d-flex">
                <span jhiTranslate="lmsOnCloudApp.discussion.lastModifiedDate">Last Modified Date</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="course.id">
              <div class="d-flex">
                <span jhiTranslate="lmsOnCloudApp.discussion.course">Course</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (discussion of discussions; track trackId) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/discussion', discussion.id, 'view']">{{ discussion.id }}</a>
              </td>
              <td>{{ discussion.topic }}</td>
              <td>{{ discussion.details }}</td>
              <td>{{ discussion.createdBy }}</td>
              <td>{{ discussion.createdDate | formatMediumDatetime }}</td>
              <td>{{ discussion.lastModifiedBy }}</td>
              <td>{{ discussion.lastModifiedDate | formatMediumDatetime }}</td>
              <td>
                @if (discussion.course) {
                  <div>
                    <a [routerLink]="['/course', discussion.course.id, 'view']">{{ discussion.course.id }}</a>
                  </div>
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/discussion', discussion.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                  </a>

                  <a [routerLink]="['/discussion', discussion.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                  </a>

                  <button type="submit" (click)="delete(discussion)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</div>
