<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (quiz()) {
      <div>
        <h2 data-cy="quizDetailsHeading"><span jhiTranslate="lmsOnCloudApp.quiz.detail.title">Quiz</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ quiz()!.id }}</span>
          </dd>
          <dt><span jhiTranslate="lmsOnCloudApp.quiz.title">Title</span></dt>
          <dd>
            <span>{{ quiz()!.title }}</span>
          </dd>
          <dt><span jhiTranslate="lmsOnCloudApp.quiz.description">Description</span></dt>
          <dd>
            <span>{{ quiz()!.description }}</span>
          </dd>
          <dt><span jhiTranslate="lmsOnCloudApp.quiz.createdBy">Created By</span></dt>
          <dd>
            <span>{{ quiz()!.createdBy }}</span>
          </dd>
          <dt><span jhiTranslate="lmsOnCloudApp.quiz.createdDate">Created Date</span></dt>
          <dd>
            <span>{{ quiz()!.createdDate | formatMediumDatetime }}</span>
          </dd>
          <dt><span jhiTranslate="lmsOnCloudApp.quiz.lastModifiedBy">Last Modified By</span></dt>
          <dd>
            <span>{{ quiz()!.lastModifiedBy }}</span>
          </dd>
          <dt><span jhiTranslate="lmsOnCloudApp.quiz.lastModifiedDate">Last Modified Date</span></dt>
          <dd>
            <span>{{ quiz()!.lastModifiedDate | formatMediumDatetime }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
        </button>

        <button type="button" [routerLink]="['/quiz', quiz()!.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
        </button>
      </div>
    }
  </div>
</div>
